<div class = "login" ng-controller="LoginController as loginCtrl">
	<form action="app/assets/php/loginform.inc.php" method="POST">
		<h1>Welcome to Pickomino!</h1>
		<br/>
		Please log in below or <a ng-click="loginCtrl.register()" class = 'btn btn-primary inset'>Register</a><br/><br/>
		Username: <input type="text" name="username" required><br/><br/> 
		Password: <input type="password" name="password" required> <br/><br/>
		<div>
			<div class='col-sm-1 col-md-4'></div>
			<input id="loginBtn" type="submit" value="Log in" class ='btn btn-primary inset col-sm-4 col-md-1' >
			<div class='col-sm-1 col-md-2'></div>
			<a href='pickomino.php' ng-click="loginCtrl.guestLogin()" class ='btn btn-primary inset col-sm-4 col-md-1' >
				Guest
			</a>
			<div class='col-sm-1 col-md-4'></div>
		</div>
		<br/>
	</form>
</div>