<!DOCTYPE html>
<html lang="en" ng-app="pickominoGame">
	<head>
		<meta charset="utf-8" />
		<title>Angular Pickomino</title>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assests/css/main.css">
		<link rel="stylesheet" type="text/css" href="assests/css/board.css">
		<script src="node_modules/angular/angular.js"></script>
		<script src="app/app.module.js"></script>	
	</head>
	<body>
		<common-header></common-header>
		
		<div ng-controller="ActionController as action">
			<div class = 'container-game inset' ng-controller="PlayerNotificationController as notice">
				<div class = 'titles-box'>
					<span class = 'titles'>Worms on the Grill</span>
				</div>	
				<div class = 'worms inset' ng-controller="GrillWormsController as grillWorms">
					<div class = 'worm inset' ng-repeat="worm in grillWorms.grillWormsValues" ng-click="action.takeWorm(worm.value)" ng-class="{ 'activeHighlight' : worm.canTake }">
						<p>{{worm.value}}</p>
						<img class="img-center" ng-src="{{worm.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'activedice inset' ng-controller="ActiveDiceController as activeDice">
					<div class = 'dice inset' ng-repeat="dice in activeDice.diceValues track by $index" ng-click="action.freezeDice(dice.value)" ng-class="(dice.canFreeze) ? 'activeHighlight' : 'inactiveHighlight' ">
						<img ng-src="{{dice.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'frozendice inset' ng-controller="FrozenDiceController as frozenDice">
					<div class = 'dice inset frozenHighlight' ng-repeat="dice in frozenDice.diceValues | orderBy:'value' track by $index ">
						<img ng-src="{{dice.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'playerNotification inset'>
					<p>Frozen dice sum: {{notice.frozenStatus.sum}}</p>
					<p>{{notice.messageText.info}}</p>
				</div>				
				<br/>
				<div class = 'playeroptions outset'>
					<button class = 'buttons inset' ng-click="action.rollDice()" ng-class="{ 'activeButtonHighlight' : action.gameStatus.roll }">
						Roll
					</button>
				</div>
				<br/>
				<div class = 'titles-box'>
					<span class = 'titles'>Player's Worms</span>
				</div>					
				<div class = 'playerWorms inset' ng-controller="PlayerWormsController as playerWorms">
					<div class = 'worm inset' ng-repeat="playerWorm in playerWorms.wormValues">
						<p>{{playerWorm.value}}</p>
						<img ng-src="{{playerWorm.image}}" />
					</div>
				</div>
			</div>
		</div>
		
		<common-footer></common-footer>
		
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<script>
			$(function() {
				$('.nav-tabs a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				});
			});
		</script>		
		
	</body>
</html>