<!DOCTYPE html>
<html lang="en" ng-app="pickominoGame">
	<head>
		<meta charset="utf-8" />
		<title>Angular Pickomino</title>
		<link rel="stylesheet" type="text/css" href="assests/css/board.css">
		<script src="node_modules/angular/angular.js"></script>
		<script src="app/app.module.js"></script>
	</head>
	<body>
		<div ng-controller="ActionController as action">
			<div class = 'container inset' ng-controller="PlayerNotificationController as notice">
				<div class = 'worms inset' ng-controller="GrillWormsController as grillWorms">
					<div class = 'worm inset' ng-repeat="worm in grillWorms.grillWormsValues" ng-click="action.takeWorm(worm.value)">
						{{worm.value}}
						<img ng-src="{{worm.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'activedice inset' ng-controller="ActiveDiceController as activeDice">
					<div class = 'dice inset' ng-repeat="dice in activeDice.diceValues track by $index" ng-click="action.freezeDice(dice.value)" ng-class="{ activeHighlight:dice.canFreeze }">
						<img ng-src="{{dice.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'frozendice inset' ng-controller="FrozenDiceController as frozenDice">
					<div class = 'dice inset' ng-repeat="dice in frozenDice.diceValues | orderBy:'value' track by $index ">
						<img ng-src="{{dice.image}}" />
					</div>
				</div>
				<br/>
				<div class = 'playerNotification inset'>
					<p>Frozen dice sum = {{notice.frozenStatus.sum}}</p>
					<p>{{notice.messageText.info}}</p>
				</div>				
				<br/>
				<div class = 'playeroptions outset'>
					<button class = 'buttons inset' ng-click="action.rollDice()">
						Roll
					</button>
				</div>
				<br/>
				<div class = 'playerNotification inset'>
					<span class = 'logger'>Player's Worms</span>
				</div>					
				<div class = 'worms inset' ng-controller="PlayerWormsController as playerWorms">
					<div class = 'worm inset' ng-repeat="playerWorm in playerWorms.wormValues">
						{{playerWorm.value}}
						<img ng-src="{{playerWorm.image}}" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>